# .env
# This contains the necessary information here in this file i need to use environment


# Flask application related
APP_HOST=0.0.0.0
APP_PORT=9999
APP_DEBUG=True
APP_SECRET_KEY=RanaUniverse


# Logging Related Things
ENABLE_CONSOLE_LOGGING=True
ENABLE_FILE_LOGGING=True
LOG_FILE_NAME=sample_log_file.txt


# Database Related thigns below

# if i will want to use postgres i will use true else
# if i want to use sqlite i will use false
USE_POSTGRES=True
SQLITE_FILENAME=demo_data.db
# if i will use postgres=true then below will calculated there 
# in my settings model else this will not use
DB_USERNAME=rana
DB_PASSWORD=abc
DB_HOST=localhost
DB_PORT=5432
DB_NAME=r