{#
app/features/catalog/routes/templates/brand/add.html

This page will shows for asking for new brand to enter
#}

{% extends "base_layout.html" %}

{% block my_content %}

<div class="container mt-4">
    <div class="border border-1 rounded p-3">

        <h2>Add Brand</h2>

        <form method="POST" enctype="multipart/form-data">

            {{ form.hidden_tag() }}

            <div class="mb-3 form-floating">
                {{ form.name() }}
                {{ form.name.label() }}
            </div>

            <div class="mb-3">
                {{ form.description.label() }}
                {{ form.description() }}
            </div>

            <div class="mb-3 form-floating">
                {{ form.website_url() }}
                {{ form.website_url.label() }}
            </div>

            <div class="mb-3">
                {{ form.logo_filename.label(class="form-label fw-semibold") }}
                <br>
                {{ form.logo_filename() }}
            </div>

            <div class="mb-3">
                {{ form.submit(class="btn btn-primary") }}
            </div>

        </form>

    </div>
</div>

{% endblock %}