{#
templates/base_layout.html


Here i will make the structer of my front page
i will use this to extends in others file.
Variables:

- my_title
- my_content
- my_js

#}

<!DOCTYPE html>
<html lang="en" data-bs-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta_description %}Shopping Website{% endblock %}">
    <meta name="author" content="Rana Universe">



    <title>
        {% block my_title %}
        Rana Universe 🍌🍌🍌
        {% endblock %}
    </title>

    {% include 'partials/_assets_css.html' %}

    {% block my_internal_css %}
    {#
    Here i will write the logic for the internal css
    of whatever i will want in custom css per page
    #}
    {% endblock %}

</head>

<body>

    <header>
        {% include 'partials/_navbar.html' %}
    </header>

    {%- include 'partials/_flash_messages.html' -%}

    {% block my_content %}
    {#
    Here i will write the main page to shows the user what is going on as interface
    #}
    {% endblock %}


    {% include 'partials/_footer.html' %}

    {% include 'partials/_assets_js.html' %}

    {% block my_js %}
    {#
    Here i will make any java script for any page specefic
    i will insert the js script in this place.
    I will need to use the nonce for prtection my js from hackers
    #}
    {% endblock %}


</body>

</html>