{#
templates/base_layout.html
Here i will make the structer of my front page
i will use this to extends in others file.
Variables:

- my_title
- my_content
- my_js

#}

<!DOCTYPE html>
<html lang="en" data-bs-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block my_title %}
        Rana Universe 🍌🍌🍌
        {% endblock %}
    </title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico' ) }}" type="image/x-icon">

    <link rel="stylesheet" href="{{ url_for('static', filename= 'bootstrap/css/bootstrap.min.css' ) }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='icons/bs_icons/bootstrap-icons.min.css' ) }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar_toggler_icon_change.css' ) }}">

    <link rel="stylesheet" href="{{ url_for('static' , filename='css/theme_toggle_button.css') }}">

    {% block my_internal_css %}
    {#
    Here i will write the logic for the internal css
    of whatever i will want in custom css per page
    #}
    {% endblock %}

</head>

<body>

    <header>
        {% include 'partials/_navbar.html' %}
    </header>



    {%- include 'partials/_flash_messages.html' -%}



    {% block my_content %}
    {#
    Here i will write the main page to shows the user what is going on as interface
    #}
    {% endblock %}



    {#
    Below here i will pass the footer content
    #}
    {% include 'partials/_footer.html' %}


    {#
    From below i will write down the js content
    the js code which will run in the browser and for bs will below
    #}

    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js' ) }}">
    </script>

    <script src="{{ url_for('static', filename='htmx/htmx.min.js' ) }}">
    </script>

    <script src="{{ url_for('static' , filename='js/search_icon_change.js') }}">
    </script>

    <script src="{{ url_for('static' , filename = 'js/theme_toggle.js') }}">
    </script>

    {% block my_js %}
    {#
    Here i will make any java script for any page specefic
    i will insert the js script in this place.
    #}
    {% endblock %}


</body>

</html>