{#
blueprints/product/templates/product/info.html
HEre i will shows the product information to the user

Things to pass in this?

1. product_thumbnail_obj -> can be obj or None
2. product_obj=product_public_out_obj_schema
3. gallery_images -> list of gallery images out schema
#}

{% from 'product/partials/_product_image.html' import generate_product_thumbnail_image with context %}

{% from 'product/partials/_product_image.html' import generate_img_for_one_product_gallery_image with context %}



{% extends 'base_layout.html' %}

{% block my_content %}

<div class="container mt-4">
    <h1>Product Information</h1>
    <hr>

    {{ generate_product_thumbnail_image(product_thumbnail_obj) }}

    <br><br>

    <p><strong>Name:</strong> {{ product_obj.name }}</p>
    <p><strong>Description:</strong> {{ product_obj.description or "N/A" }}</p>
    <p><strong>HSN No:</strong> {{ product_obj.hsn_no or "N/A" }}</p>

    <hr>

    <p><strong>MRP Price:</strong> {{ product_obj.mrp_price or "N/A" }}</p>
    <p><strong>Sell Price:</strong> {{ product_obj.sell_price or "N/A" }}</p>

    <hr>

    <p><strong>Brand:</strong> {{ product_obj.brand_obj.name or "N/A" }}</p>
    <p><strong>Category:</strong> {{ product_obj.category_obj.name or "N/A" }}</p>

    <br>
    <h1>Gallery Images</h1>
    <br>





    {% if gallery_images %}

    <div class="gallery_container">
        {% for image in gallery_images %}
        <div class="gallery-item">
            {{ generate_img_for_one_product_gallery_image(image) }}
        </div>
        {% endfor %}
    </div>


    {% else %}
    image not exists
    {% endif %}





</div>

{% endblock %}