{#
app/features/identity/templates/auth/login.html

Here i will shows the login page of user want to login their account
#}

{% extends 'base_layout.html' %}

{% block my_title %}
Login To get Offers
{% endblock %}




{% block my_content %}

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="card shadow border-0 col-md-8">

            <form action="" method="post">
                {{ form.hidden_tag() }}
                <p class="text-success text-center fw-semibold">
                    🎉 Login now and get special member discounts!
                </p>
                <h1 class="h3 mb-2 fw-bold text-center">
                    Welcome back!
                </h1>

                <p class="text-muted text-center mb-4">
                    Login to continue shopping and manage your orders.
                </p>

                <p class="text-success text-center small mb-4">
                    🎉 Exclusive deals available for logged-in users.
                </p>


                <div class="mb-3 form-floating">
                    {{ form.identifier(class="form-control fw-bold") }}
                    {{ form.identifier.label() }}
                </div>



                <div class="input-group mb-3">
                    <div class="form-floating">
                        {{ form.password(class="form-control") }}
                        {{ form.password.label() }}
                    </div>
                    <button type="button" class="input-group-text btn border btn-outline-warning"
                        onclick="PassShowHideFun()">
                        <i id="eyeIcon" class="bi bi-eye"></i>
                    </button>
                </div>


                {#
                Below i will make a row where i will insert 3 thigns in large
                for mobile all will be one by one per row vertially
                #}
                <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center gap-2 mb-3">


                    <a href="{{ url_for('auth_bp.register' ) }}" class="btn btn-sm btn-outline-info w-75 w-sm-auto">
                        Register For New Account
                    </a>


                    <div class="form-check">
                        {{ form.remember(class="form-check-input") }}
                        {{ form.remember.label(class="form-check-label") }}
                    </div>


                    <button type="button" class="btn btn-sm btn-outline-secondary w-75 w-sm-auto" id="guestToastBtn">
                        Login As Guest
                    </button>

                </div>

                {{form.submit(class="btn btn-primary w-100 py-2 mb-3")}}

            </form>


        </div>
    </div>
</div>


{% include 'auth/partials/_guest_toast.html' %}




{% endblock %}


{% block my_js %}

<script src="{{ url_for('static' , filename='js/password_show_hide.js') }}">
</script>

<script src="{{ url_for('auth_bp.static', filename='js/guest_toast.js') }}">
</script>

{% endblock %}