{#
blueprints/general/templates/general/checking_features.html
here i will make some html css js for chekcing
how this will appear in my code
#}

{% extends 'base_layout.html' %}


{% block my_content %}



<h1>Rana Universe</h1>


<div class="text-center">
    <button type="button" class="btn btn-primary" id="liveToastBtn">Show live toast</button>
</div>

<div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="liveToast" class="toast bg-info-subtle border border-warning" role="alert" aria-live="assertive"
        aria-atomic="true">
        <div class="toast-header">
            <i class="bi bi-alarm text-primary fs-4 fw-bold">
            </i>
            <strong class="me-auto">
                Hurry Up 🏃‍♀
            </strong>
            <small>Check This Product</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            This Product will out of stock in 1 Day.
        </div>
    </div>
</div>


{% endblock %}




{% block my_js %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const toastTrigger = document.getElementById('liveToastBtn');
        const toastEl = document.getElementById('liveToast');

        if (toastTrigger && toastEl) {
            const toast = bootstrap.Toast.getOrCreateInstance(toastEl);

            toastTrigger.addEventListener('click', function () {
                toast.show();
            });
        }
    });
</script>



{% endblock %}